<img class="avatar" src="{{user.avatar}}">

<div class="name">
  {{user.name}}
</div>

<div class="date" data-time="{{created}}">
  {{nanoDate created}}
</div>

<div class="body">
  {{markdown title}}
</div>

{{#if user.is_my_user}}
  <div class="actions">
    <a href="#" class="js-delete">delete îƒ</div>
  </div>
{{/if}}
