<div id="posts-list">
  {{#if length}}
    {{#if filteredPosts}}
      <div id="posts-loaded">
        {{#each filteredPosts}}
          <div class="post row">
            <div class="span1">
              {{#if isRepost}}
                <img class="avatar-img img-rounded" src="{{unbound repostUserAvatar}}" />
              {{else}}
                <img class="avatar-img img-rounded" src="{{unbound userAvatar}}" />
              {{/if}}
              <ul class="post-actions">
                {{#if isMyPost}}
                  <li>
                    <a class="post-action" {{action "deletePost" id}} href="#">
                      <i class="icon-trash"></i>
                    </a>
                  </li>
                {{/if}}
                {{#unless isMyPost}}
                  <li>
                    <a class="post-action" {{action "repostPost" id}} href="#">
                      <i class="icon-retweet"></i>
                    </a>
                  </li>
                {{/unless}}
              </ul>
            </div>
            <div class="span6">
              <div class="row">
                {{#if isRepost}}
                  <div class="span4 user-name">{{unbound repostUserName}}</div>
                {{else}}
                  <div class="span4 user-name">{{unbound userName}}</div>
                {{/if}}
                <small class="span2 time text-right" data-time="{{unbound created}}">
                  {{unbound nanoDate created}}
                </small>
              </div>
              <div class="row">
                <div class="span6">
                  <span>
                    {{unbound markdown title}}
                  </span>
                </div>
              </div>
              <div class="row">
                {{#if isRepost}}
                  <div class="span6 muted">Reposted by {{unbound userName}}</div>
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
        <button class="btn load-more" {{action "loadMore"}}>Load More</button>
      </div>
    {{else}}
      <div>
        No posts found.
      </div>
    {{/if}}
  {{else}}
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  {{/if}}
</div>
