<img class="avatar" src="{{user_avatar}}">

<div class="name">
  {{user_name}}
</div>

<div class="date" data-time="{{created}}">
  {{nanoDate created}}
</div>

<div class="body">
  {{markdown title}}
</div>

{{#if is_my_post}}
  <div class="actions">
    <a href="#" class="js-delete">delete îƒ</div>
  </div>
{{/if}}
